.blog-main-content {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer sidebar";
  grid-gap: 1vh;
  background-color: rgb(73,147,120);
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.main-blog {
  width: 100vw;
}

header.main-blog-titles {
  grid-area: header;
  height: 20vh;
  width: 82vw;
  display: inline-flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 2vh;
  margin-bottom: 2vh;
}

.main-blog-titles h1 {
  font-family: sans-serif Monserrat;
  font-size: 10rem;
  font-weight: bolder;
  margin-left: 3vw;
}

main.blog-entries {
  grid-area: main;
  width: 85vw;
  height: 75vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  text-align: justify;
  font-size: 1.5rem;
  position: relative;
  top: 22vh;
  padding-right: 3vw;
}

main.blog-entries:focus {
  outline: none;
}

.blog-entry-main {
  width: 82vw;
  height: auto;
  margin-left: 3vw;
  padding-bottom: 5vh;
  padding-right: 5vw;
}

aside.blog-index {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  min-height: 100%;
  width: 15vw;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 2vw 0 2vw;
  color: black;
  background-color: rgb(73,147,120);
  overflow: auto;
  border-left: solid thick black;
}

footer.blog-footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 5vh;
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(73,147,120);
  background-color: black;
  padding-top: 2vh;
}

.close-blog-modal {
  background: none;
  border: none;
  position: fixed;
  top: 2vh;
  left: 2vh;
  font-size: 5rem;
}

.blog-entry-header {
  width: 80vw;
  justify-content: center;
}

img.blog-profile-pic {
  height: 20vh;
  width: auto;
  margin-left: 5vw;
}

.blog-entry-img {
  max-width: 100%;
  height: auto;
  float: right;
  padding: 2vh 0 2vh 2vw;
}

.blog-entries::-webkit-scrollbar {
    display: none;
}

.blog-entries::-webkit-scrollbar-track {
    display: none;
}

.blog-entries::-webkit-scrollbar-thumb {
  display: none;
}

@media (min-width: 975px) and (max-width: 1175px) {
  .main-blog-titles h1 {
    font-size: 8rem;
  }

  .close-blog-modal {
    top: 1vh;
    left: 1vh;
    font-size: 3rem;
    padding-right: 2vw;
  }
}

@media (min-width: 725px) and (max-width: 974px) {
  .main-blog-titles h1 {
    font-size: 6rem;
  }

  img.blog-profile-pic {
    height: 15vh;
  }

  .close-blog-modal {
    top: 1vh;
    left: 1vh;
    font-size: 3rem;
    padding-right: 2vw;
  }

  main.blog-entries {
    top: 18vh;
  }
}

@media (min-width: 551px) and (max-width: 724px) {
  .blog-main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100vh;
    top: 0;
  }

  header.main-blog-titles {
    width: 100vw;
  }

  .main-blog-titles h1 {
    font-size: 5rem;
  }

  img.blog-profile-pic {
    margin-left: 2vw;
    height: 15vh;
  }

  .close-blog-modal {
    top: 1vh;
    left: 1vh;
    font-size: 3rem;
    padding-right: 2vw;
  }

  main.blog-entries {
    top: 15vh;
    width: 100vw;
  }

  .blog-entry-header {
    width: 95vw;
    font-size: 80%;
  }

  .blog-entry-main {
    margin: auto;
    padding: 0;
  }

  aside.blog-index {
    display: none;
  }
}

@media (max-width: 550px) {
  .blog-main-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100vh;
  }

  header.main-blog-titles {
    width: 95vw;
  }

  .main-blog-titles h1 {
    font-size: 3rem;
  }

  img.blog-profile-pic {
    margin-left: 2vw;
    height: 10vh;
  }

  .close-blog-modal {
    top: 1vh;
    left: 1vh;
    font-size: 2rem;
    padding-right: 2vw;
  }

  main.blog-entries {
    top: 10vh;
    width: 90vw;
    height: 85vh;
  }

  .blog-entry-header {
    width: 85vw;
    font-size: 50%;
  }

  .blog-entry-main {
    margin: auto;
    padding: 2vh 0 2vh 0;
  }

  aside.blog-index {
    display: none;
  }
}
