<section class="modal-box blog-main-content">
  <div class="modal-body main-blog">

    <header class="main-blog-titles">
      <button class="btn close-blog-modal" ng-click="modal.cancel()">X</button>
      <img src="assets/headshot.jpg" class="blog-profile-pic" >
      <h1 class="main-blog-titles">Talking about...</h1>
    </header>

    <main class="blog-entries" tabindex="0">
      <article class="6-23-17">

        <div class="blog-entry-header">
          <h2 class="blog-title">Frustration as Inspiration:</h2>
          <h3 class="blog-subtitle">if a bump in the road makes your day, you just might be a developer</h3>
          <h4 class="blog-date-author">June 23, 2017 | k. anderson</h4>
        </div>

        <section class="blog-entry-main">

          <div class="blog-entry-img">
            <img src="/assets/wood_grain_225x150.png" />
          </div>

          <p>Glaring sun and choking dust from the dirt parking lot made me squint my eyes as I exited the small suburban office. I quickly scanned the lot for the plate number I’d memorized on my long drive over.</p>

          <p>As my eyes snagged on the correct plate and settled on the faded red sedan, I realized there was a woman behind the wheel. My heart raced and I ran towards the space directly in front of the vehicle, noting triumphantly that the driver was a petite white woman in her 40’s with shoulder-length curly brown hair.</p>

          <p>Two strides in, I realized she had no intention of waiting for me. The car leapt towards me Dukes of Hazzard style Too close already, the bumper made contact with my right leg, toppling me over momentarily. Despite her fear, the woman stopped the car, instinct for having hit someone taking over for a minute. Just long enough for me to pop back up and place the papers under her car’s windshield wipers.</p>

          <p>A week before, on a shady residential street, she had screamed at me through her front door, “You’ll never catch me!” I walked away from her house with a Cheshire cat grin and new found determination.</p>

          <p>Delivery complete, I backed away from the car with a satisfied smile and a wave. Her mouth fell open and she stared for just a second before peeling out of the lot with a glare and a huff, papers fluttering, but stubbornly clinging. Victory is so sweet.</p>

          <p>In my early 20’s, I was a private investigator. It happened almost by accident and was really just a result of curiosity - endless questions that led to meeting people that led to more questions that led to afternoons reading through legal documents and many a late night tracking down strangers with a video camera or official court documents in hand.</p>

          <p>An unexpected side effect of this work was that I learned a ton about myself. I’m generally considered a smart person and every 22-year-old is fairly certain they are poised to conquer the world, but this job pushed me down again and again. I made silly and sometimes dangerous mistakes. I learned that reality is incomprehensibly big, the world is small and I am microscopic.</p>

          <p>One of my duties was to serve process; essentially, I acted as a representative of the court, presenting and certifying that official documents were delivered to an individual. Not everyone was excited about receiving these documents, as they were often for things like divorce, eviction or being sued in civil court.</p>

          <p>It wasn’t unusual to go to a person’s home or job multiple times to attempt delivery. Schedules vary and it was never surprising when several attempts were necessary to actually come face to face with the desired person.</p>

          <p>Fairly regularly, it would become apparent that a person was trying to avoid being served. I was shocked to discover how incredibly happy and excited this would make me; in fact, it would pretty much make my day.</p>

          <p>One of the most common things I’ve heard from established developers, mentors and others is that to program is to spend most of your working life in a state of frustration. You try 12 wrong ways before you get the right one, then you move onto the next small piece of work and do it again. In six months, every victory you accomplished may be rendered null due to changing technology. If you can’t appreciate the frustration, you probably won’t enjoy programming.</p>

          <p>Besides learning the sobering truth of my imperfection and relative unimportance, being an investigator also introduced me to the bar of steel that lives inside me - the part that glories in a challenge and is way too stubborn to simply walk away. I think it will serve me well as a developer.</p>
        </section>
      </article>
    </main>

    <aside class="blog-index">
      Index or Contact form coming soon!
    </aside>

    <footer class="blog-footer">
      <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true">2017 Kirsten Anderson</i>
      </div>
      <div class="blog-links">
      </div>
    </footer>

  </div>
</section>
