<section class="modal-box project-modal">
    <div class="links-container">
      <div class="close-btn-container">
          <button class="btn-close" type="button" ng-click="modal.cancel()">X</button>
      </div>
      <a>
        <button class="live-site-demo musicology" ng-click="modal.openDemoMsg()"></button>
      </a>
      <a href="https://github.com/anderskirsten/musicology"  target="_blank">
        <button class="code-link"></button>
      </a>
    </div>

    <div class="modal-img-container">
        <img src="../assets/Musicology_landing_screenshot.png" class="img-responsive" alt="Music App Landing Page">
    </div>

    <article class="case-study-container" tabindex="0">
      </br></br></br>
      <h1>Case Study Coming Soon</h1>
    </article>

    <footer class="project-footer">
      <div class="copyright">
        <i class="fa fa-copyright" aria-hidden="true">2017 Kirsten Anderson</i>
      </div>
      <div class="project-links">
      </div>
    </footer>

</section>
