<section class="modal-box">
    <div class="links-container">
      <div class="close-btn-container">
          <button class="btn-close" type="button" ng-click="modal.cancel()">X</button>
      </div>
      <a>
        <button class="live-site-demo portfolio" ng-click="modal.openDemoMsg()"></button>
      </a>
      <a href="https://github.com/anderskirsten/portfolio"  target="_blank">
        <button class="code-link"></button>
      </a>
    </div>

    <div class="modal-img-container">
        <img src="../assets/Portfolio_landing_screenshot.png" class="img-responsive" alt="Portfolio Landing Page">
    </div>

    <div class="case-study-container">
      </br></br></br>
      <h1>Case Study Coming Soon</h1>
    </div>
</section>
