<section class="about-content">

  <div class="about-left .column.two-thirds">

    <div class="titles">
      <h1 class="page-title">about me</h1></br>
      <h2 class="page-subtitle">web developer | passionate learner</h2>
    </div>

    <div class="bio-text">
      <p class="blah-blah-me">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis velit interdum condimentum fermentum. Mauris mattis volutpat tellus, ut sagittis nulla porttitor sed. Proin efficitur convallis scelerisque. Fusce porta velit a ligula pharetra, commodo mattis velit ullamcorper. Etiam quis faucibus massa. Quisque convallis tempus orci, sed porta mi ornare non. Suspendisse lacinia orci vitae metus fringilla, quis lobortis augue iaculis. Vivamus malesuada suscipit dui, et dictum arcu lacinia eget. Curabitur sit amet sem quis ipsum vestibulum sodales. Duis viverra suscipit facilisis. Nulla nec condimentum turpis. Suspendisse quis accumsan enim, et cursus tortor.
      </p>

      <p class="blah-blah-me">
        Vivamus in magna facilisis ipsum vestibulum tempus eget id mi. Nullam semper convallis sem, elementum venenatis nibh semper id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque tristique enim tincidunt lacus molestie, sit amet auctor erat fermentum. Proin et massa ut leo dictum consequat eu a nisl. Vestibulum imperdiet, elit nec varius mattis, urna lectus malesuada tellus, vel volutpat purus lacus vel metus. Maecenas vehicula ante consequat elit feugiat, sit amet imperdiet neque euismod. Phasellus feugiat, tortor hendrerit iaculis consectetur, tellus odio laoreet ante, in fringilla diam metus in sapien. Quisque eget venenatis ipsum, et molestie lacus. Mauris porta consequat accumsan. Aenean pulvinar sem et tincidunt luctus. Etiam cursus velit a odio tincidunt, et feugiat neque gravida.
      </p>
    </div>

    <div class="nav-arrows">
      <i class="fa fa-chevron-up" aria-hidden="true" ui-sref="home"></i>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>

  </div>

  <div class="about-right .column.one-third">
    <div class="skill-graphic">
      <img src="../assets/skill_graphic.png" class="img-responsive" alt="skill graphic">
    </div>
  </div>

</section>
