<section class="blog-portal-content">

  <header>
      <div class="titles-blog-portal">
        <h1 class="page-title-blog-portal">writings || </h1>
        <h2 class="page-subtitle-blog-portal"> musings of a neophyte developer</h2>
      </div>
  </header>

  <section class="blog-portal-main">
    <ul class="blog-posts">

      <li class="6-23-17">
        <table class="blog-content">
          <tr><td class="blog-img">
            <img src="/assets/wood_grain_225x150.png" />
          </tr></td>
          <tr><td>
            <h3 class="blog-title">Frustration as Inspiration:</h3>
            <h3 class="blog-subtitle">if a bump in the road makes your day,</br>you just might be a developer</h3>
          </tr></td>
          <tr><td>
            <h4 class="blog-date-author">June 23, 2017 | k. anderson</h4>
          </tr></td>
          <tr><td>
            <section class="blog-text">
              <p>Glaring sun and choking dust from the dirt parking lot made me squint my eyes as I exited the small suburban office. I quickly scanned the lot for the plate number I’d memorized on my long drive over.</p>

              <p>As my eyes snagged on the correct plate and settled on the faded red sedan, I realized there was a woman behind the wheel. My heart raced and I ran towards the space directly in front of the vehicle, noting triumphantly that the driver was a petite white woman in her 40’s with shoulder-length curly brown hair.</p>

              <p>Two strides in, I realized she had no intention of waiting for me. The car leapt towards me Dukes of Hazzard style...</p>
            </section>
          </tr></td>
          <tr class="read-more-btn-container"><td>
            <button class="btn read-more-btn" ui-sref="blog">read more
            </button>
          </tr></td>
        </table>
      </li>

      <li class="7-1-17">
        <table class="blog-content">
          <tr><td class="blog-img">
            <img src="/assets/wood_grain_225x150.png" />
          </tr></td>
          <tr><td>
            <h3 class="blog-title">Talk to Yourself:</h3>
            <h3 class="blog-subtitle">debugging for beginners</h3>
          </tr></td>
          <tr><td>
            <h4 class="blog-date-author">July 1, 2017 | k. anderson</h4>
          </tr></td>
          <tr><td>
            <section class="blog-text">
              <p></br></br></br>Check back next week to read all about it.</p>
            </section>
          </tr></td>
          <tr class="read-more-btn-container"><td>
            <button class="btn read-more-btn" ui-sref="blog">coming soon
            </button>
          </tr></td>
        </table>
      </li>

      <li class="suggestions">
        <img src="/assets/wood_grain_225x150.png" />
        <div class="blog-content">
          <h3 class="blog-title">Suggestions Welcome: </br>what do you want to hear about?</h3>
          <h4 class="blog-date-author">ongoing | k. anderson</h4>
          <section class="blog-text">
            <p></br></br></br>Hey all you beginners out there! Tell me what you're interested in learning about and we'll do it together.</p>

            <p>Veteran devs - let me know what you're curious about learning from the perspective of a new developer. Perhaps we can help each other!</p>
          </section>
          <button class="btn read-more-btn" ui-sref="blog">message me today
          </button>
        </div>
      </li>
    </ul>

  </section>

  <footer>
    <nav class="nav-arrows-blog">
      <i class="fa fa-chevron-up" aria-hidden="true" ui-sref="projects"></i>
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </nav>
  </footer>

</section>
