<section class="contact-container">

  <header class="contact-titles">
    <h1 class="page-title-contact">contact me</h1>
    <blockquote class="page-subtitle-contact">“A letter always seemed to me like immortality because it is the mind alone without corporeal friend.”
      -Emily Dickinson</blockquote>
  </header>

  <div class="form-container">
    <form class="contact-form" action="https://formspree.io/anders.kirsten@gmail.com" method="post">
        <div class="name-input">
            <label for="name">name:</label>
            <input type="text" id="name" name="user_name">
        </div>
        <div class="email-input">
            <label for="mail">email:</label>
            <input type="email" id="mail" name="user_mail">
        </div>
        <div class="msg-input">
            <label for="msg">message:</label>
            <textarea id="msg" name="user_message"></textarea>
        </div>
        <div class="button btn-send-msg">
          <button type="submit">send your message</button>
        </div>
    </form>
  </div>

</section>
