<section class="projects-content">

  <span class="titles-projects">
      <h1 class="page-title-projects">projects</h1></br>
      <h2 class="page-subtitle-projects">work + education + amusement</h2>
  </span>

  <section class="projects-container">

    <ul class="projects">
      <li class="musicology project">
        <img src="/assets/Musicology_landing_screenshot.png" />
        <span class="text-content">
          <table>
            <tr><td>
              <h1 class=project-title>Musicology</h1>
            </tr></td>
            <tr><td>
              </p>music player web application built using Angularjs, jQuery and Bootstrap</p>
            </tr></td>
            <tr><td>
              <button class="btn learn-more-btn">Learn More</button>
            </tr></td>
          </table>
        </span>
      </li>
      <li class="letterkenny-chat project">
        <img src="/assets/LKChat_login_screenshot.png" />
        <span class="text-content">
          <table>
            <tr><td>
              <h1 class="project-title">Letterkenny Chat</h1>
            </tr></td>
            <tr><td>
              <p>chat web application built using Angularjs, Firebase and Bootstrap</p>
            </tr></td>
            <tr><td>
              <button class="btn learn-more-btn">Learn More</button>
            </tr></td>
          </table>
        </span>
      </li>
      <li class="portfolio project">
        <img src="/assets/Portfolio_landing_screenshot.png" />
        <span class="text-content">
          <table>
            <tr><td>
              <h1 class="project-title">Portfolio</h1>
            </tr></td>
            <tr><td>
              <p>built using Angularjs and Bootstrap with an emphasis on responsive css</p>
            </tr></td>
            <tr><td>
              <button class="btn learn-more-btn">Learn More</button>
            </tr></td>
          </table>
        </span>
      </li>
    </ul>

  </section>

  <div class="nav-arrows-projects">
    <i class="fa fa-chevron-up" aria-hidden="true" ui-sref="about"></i>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>

</section>
